apptools==5.3.1certifi==2025.4.26charset-normalizer==3.4.2configobj==5.0.9contourpy==1.3.1cycler==0.12.1envisage==7.0.4fonttools==4.56.0idna==3.10influxdb-client==1.48.0kiwisolver==1.4.8matplotlib==3.10.3mayavi==4.8.3narwhals==1.39.1numpy==2.2.5packaging==24.2panda==0.3.1pandas==2.2.3pillow==11.1.0plotly==6.1.0puremagic==1.29pyface==8.0.0Pygments==2.19.1pyparsing==3.2.1PyQt5==5.15.11PyQt5-Qt5==5.15.2PyQt5_sip==12.17.0python-dateutil==2.9.0.post0pytz==2025.2reactivex==4.0.4requests==2.32.3scipy==1.15.3setuptools==80.4.0six==1.17.0traits==7.0.2traitsui==8.0.0typing_extensions==4.13.2tzdata==2025.2urllib3==2.4.0vtk==9.4.2gunicorn==20.1.0Flask==2.2.5Flask-SQLAlchemy==3.0.3psycopg>=3.2